body {
  background-color: #F8F8F8;
}

h1 {
  font-family: 'Playfair Display';
  font-weight: 300;
  text-align: center;
  margin-top: 10rem;
  font-size: 36px;
  margin-bottom: 5rem;
}

body {
  font-family: 'Noto Sans';
  font-size: 20px;
}

.social-media {
  font-size: 18px;
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10rem;
}

.social-media-icon {
  display: block;
}

.social-media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio {
  text-align: center;
  margin-bottom: 5rem;
}

a[href] {
  color: #C35DD3;
}

a[href]:hover {
  color: #9D36AD;
}

main {
  width: 40%;
  margin: 0 auto;
}
